doctype html
html
    head
        title #{pageTitle}
        link(rel="stylesheet", href=assetFingerprint('styles/style.css'))
        link(rel="stylesheet", href=assetFingerprint('styles/terminal.css'))
        script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        script.
            (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9909136378210394",
            enable_page_level_ads: true
            });
body
    nav(id='menu')
     a(href="/") #{data.menu.main}
     a(href="/sim") #{data.menu.sim}
     a(href="/about") #{data.menu.about}
     a(href="/tutorial") #{data.menu.tutorial}
     a(href="/contacts") #{data.menu.contacts}
     a(href="/ru") RU
     a(href="/en") EN

    div(class="mainimg")
        img(src=imageSource)
    block content
    div(id="footer")
        p Copyright © 2018, Kirill Kontorez. All rights reserved.