extends advlayout.pug
block content
    div(class="container")
        h1 #{data.tutorial.subtitleOne}
        h3(class="center-align") #{data.tutorial.subtitleTwo}
        p #{data.tutorial.parOne} 
        p(class="center-align") 
            img(src="/images/tutorial/data_menu.png")
        p #{data.tutorial.parTwo}
        p(class="center-align")
            img(src="/images/tutorial/string_format.png")
        p #{data.tutorial.parThree}
        p #{data.tutorial.parFour}
        p #{data.tutorial.parFive}
        h3(class="center-align") #{data.tutorial.subtitleThree}
        p(class="center-align") 
            img(src="/images/tutorial/chart_menu.png")
        p #{data.tutorial.parSix}
        h3(class="center-align") #{data.tutorial.subtitleFour}
        p #{data.tutorial.parSeven}
        p(class="center-align")
            img(src="/images/tutorial/trading_menu.png")
        p #{data.tutorial.parEight}
        p #{data.tutorial.parNine}
        p #{data.tutorial.parTen}
          p(class="center-align")
            img(src="/images/tutorial/terminal_view.png")
        p #{data.tutorial.parEleven}